<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="connection.url">jdbc:mariadb://127.0.0.1/university_1</property>
        <property name="connection.username">root</property>
        <property name="connection.password"/>

        <property name="dialect">org.hibernate.dialect.MariaDB10Dialect</property>

        <property name="show_sql">false</property>

<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->

        <mapping class="ir.zandi.model.Teacher"></mapping>
        <mapping class="ir.zandi.model.Student"></mapping>


    </session-factory>
</hibernate-configuration>